*
{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: arial,sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

header
{
    background-color:black; 
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul
{
    list-style-type: none;
}
li a
{
    color: #ffffff;
    text-decoration: none;
}
li a:hover
{
    color: rgb(0, 0, 255);
}

nav
{
    background: #707070;
}
nav ul
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
}


article
{
    background: #2699fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
}
