*
{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: arial,sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}
body
{
    background-image: url(img/background.jpg);
    background-size: cover;
    
    background-repeat: no-repeat;
}

header
{
    background-image: url(img/companylogoBG.jpg); 
    height: 200px;
    width: 100%;
    max-width: 960px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

ul
{
    list-style-type: none;
}
li a
{
    color: #ffffff;
    text-decoration: none;
}
li a:hover
{
    color: rgb(0, 0, 255);
}

nav
{
    background: #707070;
    max-width: 960px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav ul
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
}


article
{
    background: #2699fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
}
article h2
{
text-transform: uppercase;
color: #ffffff;
font-size: 1.5rem;
text-align: center;
max-width: 50%;
}

article:not(:nth-of-type(1)) h2
{
    max-width: 30%;
}
/*to make the subtitles two lines exept of the first one because the first one is too long*/
.index-home figure
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 250px;
    background-size: cover;
    background-position: center;
    flex: 100%;
    max-width: 960px;
}

.index-home
{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
figure
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 250px;
    background-size: cover;
    background-position: center;
    flex: 100%;
    max-width: 250px;
}

footer
{
    background-color: #000000;
}
footer p
{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
